<h1>about Jim & Contact Info</h1>
<div class="view_bar">
  <div class="vew_bar_right">
    {{#linkTo "posts.new" class="button create_button" }}+ New contact{{/linkTo}}
  </div>
</div>
{{#each model}}
  {{partial "posts/list"}}
{{/each}}

<div class="row">
  <div class="small-12 large-6 columns about_section">
    <h3>
      Hi, <span class="hh2">I'm Jim,</span> the founder of <span class="hh3">Crimson Cord</span> and <span class="hh3">The Good Path.</span> Talking about me is my least favorite thing to do, but according to website etiquette it's a requirement, so here it goes...
    </h3>
    <br>
    <h2>
      Why should you care who I am or what I say? That's a good question.
    </h2>
    <ul>
      <li>
        I grew up an ordinary boy in Southern California. We didn't have the most, but we didn't have the least either. It wasn't the worst of families, but then again maybe I've forgotten the really bad stuff. We all have issues from our childhood to deal (or not deal with), right? In my family we weren't without religion, but it was more to keep us out of trouble than anything to do with God.
      </li>
      <li>
        As a teenager I managed to act just like everyone else. I did all the things teenagers do, some things good (but not too good), and some things bad (and I mean really bad). It isn't useful to talk about all my mistakes, except to say, I basically think I wanted to do the right things, but more often than not, I made the wrong choices.
      </li>
      <li>
        I was got married young by today's standards, twenty. By the time I was twenty-one my first daughter was born. At twenty-three I had two little girls and a wife depending on me. It was then I started to search for the bigger answers in life. I wanted to be able to guide my daughters to a better path than the one I followed.
      </li>
      <li>
        With the help of a friend, I began studying the Bible in search of the answers I was trying to find. At twenty-four I gave my life to Christ and began my spiritual mission. At twenty-eight, while working a fulltime job to support my family, I entered Bible College. At thirty-two I graduated with a Bachelor of Theology degree and started a Master's program. While attending Bible College, I organized and led Bible Studies, helped plant a local church, and led a church Sunday School & Children's Church program. At thirty-three I was called and accepted a Sr. Pastor position of a local non-denominational community church. I regularly ministered to several professional and college sports teams, and spoke often at community charities.
      </li>
      <li>
        In the church ministry I was constantly lead to the conclusion that believers should be living their faith in the world rather than gathering segregated from non-believers. I eventually followed God's spiritual guidance and have been learning, growing, writing, and acting on my faith beyond the walls of the physical church.
      </li>
      <li>
        I feel as though God has been preparing me for this expression of Himself in my life. Through <span class="hh2">The Good Path,</span> and <span class="hh2">The Manifest Church</span> my Father is fulfilling in me His plan for my life. This website, podcast. and blog, is my spiritual service and my expression of love for His steadfast love for all His children, through the grace found in Jesus Christ.
      </li>
    </ul>
  </div>
  <div class="small-12 large-6 columns social_media background_one">
    <h1>contact Jim w/ Social Media</h1>
    <ul>
      <li>Facebook</li>
      <li>Twitter</li>
      <li>Google +</li>
    </ul>
    <br>
    <h1>contact Jim now</h1>
  </div>
</div>
</div>


