<h1>jim's <span class="hh1">Posts</span></h1>
<div class="view_bar">
  <div class="vew_bar_right">
    {{#linkTo "posts.new" class="button create_button" }}+ New post{{/linkTo}}
  </div>
</div>
{{#each model}}
  {{partial "posts/list"}}
{{/each}}
<div class="row">
  <div class="small-12 columns">
    <span class="hh2">The Good Path</span> blog is a commentary on the current worldwide events and their perceived potential effects on our spiritual relationship with our Father and His Son Jesus Christ. This blog will contrast differences between the world's path, the religious path, and <span class="hh2">The Good Path.</span>
  </div>
</div>


