<h1>Jim's Blog</h1>
<div class="view_bar">
  <div class="vew_bar_right">
    {{#linkTo "posts.new" class="button create_button" }}+ New post{{/linkTo}}
  </div>
</div>
{{#each model}}
  {{partial "posts/list"}}
{{/each}}


