<h1>community <span class="hh1">&</span> happenings</h1>
<div class="row" id="lessons">
  {{#each model}}
    {{partial "lessons/list"}}
  {{/each}}

</div>
<div class="view_bar">
	<div class="vew_bar_right">
		{{! {{#linkTo "lessons.new" class="button create_button" }}    {{!  + New Lesson{{/linkTo}}
    <a href="lessons/new" class="button">+ New Happening</a>
	</div>
</div>

<div class="row">
  <div class="small-12 large-6 columns">
    <h1>Happenings - Ginomai (ghin'-om-ahee)</h1>
    <p>
      to cause to be (“gen” -erate), change of state; to become (come into being) - arise be assembled, be brought (to pass), appearance, happen.
    </p>
    <p>
      <span class="quote">"Now Herod the tetrarch heard of all that was happening; and he was greatly perplexed, because it was said by some that John had risen from the dead"</span> <span class="ref">Matthew 27:54</span>
    </p>
    <p>
      <span class="quote">"Even so, you too, when you see these things happening, recognize that He is near, right at the door."</span> <span class="ref">Mark 13:29</span>
    </p>
    <p>
      Happenings are Spiritual events that will take place. There will also be stories/reports describing previous events. From the scriptures above Happenings are events that get the attention of others. Happenings aren't meant to entertain but rather to disturb others into questioning the course and direction of life.
    </p>
    <h1><a href="http://www.crimsoncord.org">Crimson Cord</a></h1>
    <h1><a href="http://www.lifestream.org/">Life Stream</a></h1>
  </div>
  <div class="small-12 large-6 columns">
    <h1>A Manifest Life</h1>
    <p>
      <span class="hh2">A Manifest Life</span> is our physical presence in the world as a member of the Body of Christ or the Spiritual Church of Christ. God reveals Himself to us, as believers, and He unveils His will and His purpose to us so we can live <span class="hh3">A Manifest Life</span> in the world. Through God's Spirit our Manifest Life spiritually becomes a part of <span class="hh3">The Manifest Church</span> in the world. Believers have the ability to receive the revelation of God's encouragement, choices, insight, and inspiration. This is in opposition to the "Organic" Church, which waits for the will of God to appear. As spiritual members of <span class="hh3">The Manifest Church</span> believers are active participants in listening to, and discerning the will of God. This results in our spiritual growth by <span class="hh3">SBWA</span> (Spirituality By Walking Around). This is a fundamental life expression of The Good Path.
    </p>
    <p><span class="hh2">SBWA</span> content explanation... In this section we'll exhibit examples of <span class="hh2">SBWA</span> in everyday life...</p>
    <ul>
      <li>being lead by the Spirit...</li>
      <li>worship by the Spirit...</li>
      <li>activities of Neighboring in the Spirit...</li>
      <li>miracles in the Spirit...</li>
    </ul>
  </div>
</div>
