<h1>community <span class="hh1">&</span> happenings</h1>
<div class="row" id="lessons">
  {{#each model}}
    {{partial "lessons/list"}}
  {{/each}}

</div>
<div class="view_bar">
	<div class="vew_bar_right">
		{{! {{#linkTo "lessons.new" class="button create_button" }}    {{!  + New Lesson{{/linkTo}}
    <a href="lessons/new" class="button">+ New Happening</a>
	</div>
</div>
