<div class="row page_header">
  <div class="home_logo">&nbsp;</div>
  <div class="small-12 large-6 columns page_header_info_one">
    <p class="hh1">the Good Path</p>
    <br />
    {{#linkTo "lessons.index" class="home_lessons_link"}}Podcast{{/linkTo}}
    <br /><br /><br /><br /><br /><br /><br />

    <div class="accordian">
      <div class="accordian_part" data-name="one">
        <h3><span class="fancy_text">WAIT</span> on the Lord</h3>
      </div>
      <div class="accordian_part" data-name="two">
        <h3><span class="fancy_text">WATCH</span> Him move</h3>
      </div>
      <div class="accordian_part" data-name="three">
        <h3><span class="fancy_text">WANT</span> His <span class="fancy_text">WILL</span></h3>
      </div>
      <div class="accordian_part" data-name="four">
        <h3><span class="fancy_text">WALK</span> on The Good Path</h3>
      </div>
    </div>
  </div>
  <div class="small-12 large-6 columns page_header_info_two">
    <p>
      Hi, this is The Good Path website, blog, and podcast. God  said, through Jeremiah (the prophet, not the bullfrog), "Stand by the paths, and look around, and ask for the old pathways, where The Good Path is, and walk in it. And you will find rest for your souls." Jer 6:1 This website is dedicated to helping all who desire freedom from guilt & condemnation, while at the same time enjoying a dynamic & positive relationship with our Father, and His Son, Jesus Christ. We live in a broken world, and eventually we all struggle with the difficult questions of life. The Good Path isn't a church or an institution, and it doesn't promote a dogma or theology. We encourage those questioning what they've been taught in traditional conventional churches to consider a path of unconventional Christ centered theistic spiritual awareness. Come and explore the dynamic spiritual life God has waiting for you on The Good Path...
    </p>
  </div>
</div>


<div class="row home_slug">
  <p>
    <h1>Wait on God, Watch Him work, Want His Will , Walk His path...</h1>
  </p>
</div>
<div class="row">
  <div class="show_accordian_data">
    <div class="show_data" data-name="one" id="one_box">
      <p>
        <iframe width="420" height="315" src="http://www.youtube.com/embed/C0DPdy98e4c" frameborder="0" allowfullscreen class="youtube_video"></iframe>
        <span class="fancy_type">Wait (Stand)</span> When we wait on the Lord, our  hearts are filled with expectancy. We are expecting God to do something for us or respond in some way to us. It's not a demand, but rather our hope for God to react gloriously in our lives. This is the same expectancy that the Lord has in us. He is expecting us to respond in some way to Him. He doesn't command or demand that we act a certain way, but He hopes that we react gloriously to the life He gives us And as we wait, with hope & expectancy, God does respond, though not always as we'd like. Because of His steadfast love for us His response is always for our best interest. In His response there's a message of love and patience no matter whether we agree or disagree with His decision. In the same way God waits, with hope & expectancy, for our response to Him. And though He doesn't always agree with our replies, He receives them with steadfast love and mercy. Our spiritual walk with our Father and His Son, Jesus Christ begins with us waitin in hope & expectancy, not demanding. Who are we to demand anything from God? We are His children, and He is our Father. And as a perfect Father He doesn't require unrealistic responses for His children, but rather He remains hopeful & expectant for us to pursue Him freely. We stand at The Good Path and Wait on our Father... and He wait for us...     * As we Stand at the entrance of The Good Path we are taking a position for something. We are standing as an example to all that God has provided a way for all to walk with Him. Also, when we stand at the beginning of The Good Pat we display to all that we've stepped out of the current of this world and we're "standing still" and "waiting" expectantly for the guidance and encouragement of God. There are many voices in our world, but only the voice of God can give us life and rest. To hear His voice among the many voices that call out to us we allow the Spirit to find us standing and waiting expectantly for His word of guidance.
      </p>
    </div>
    <div class="show_data" data-name="two" id="two_box">
       <p>
        <iframe width="420" height="315" src="http://www.youtube.com/embed/C0DPdy98e4c" frameborder="0" allowfullscreen class="youtube_video"></iframe>
        <span class="fancy_type">Watch</span> On The Good Path, everything around us is freely and openly accessible and recognizable, both to us and to God. Our Fatherdoesn't hide anything from us. We can watch Him move and work in the world fromthe vantage of The Good Path. As our Father watches our lives His Spiritsearches our hearts, "The lamp of the LORD searches the spirit of a man; it searchesout his inmost being." (Prov. 20:27). In the same way as we watch for the ways of ourFather, His Spirit searches and reveals His intentions to us, “'What no eye has seenwhat no ear has heard, and what no human mind has conceived'”, the things God hasprepared for those who love him—these are the things God has revealed to us by hisSpirit. The Spirit searches all things, even the deep things of God. For who knows aperson’s thoughts except their own spirit within them? In the same way no one knowsthe thoughts of God except the Spirit of God." (2Cor. 2:9-11Like the Watchmen of old, we are encouraged by His Spirit to watch andsearch for our Father's ways and His direction on The Good Path. Awatchmen would keep watch for movements and also search out mysteries.
      </p>
    </div>
    <div class="show_data" data-name="three" id="three_box">
      <p>
        <iframe width="420" height="315" src="http://www.youtube.com/embed/C0DPdy98e4c" frameborder="0" allowfullscreen class="youtube_video"></iframe>
        <span class="fancy_type">Want</span> his Will To ask for the old paths is to have anappreciation for them. To be able to ask both implies a want (desire) to know andan ability to communicate both for us and our Father. If we want to know His wilour Father will give us the desires of our heart, "Delight yourself in the LORD; And Hewill give you the desires of your heart. (Psalm 37:4To delight ourselves in the Lord, is to appreciate Him so much that we want andearnestly desire to know everything about Him. In the same way our Father delights inus, "For the LORD takes delight in His people; He will beautify the afflicted ones withsalvation." (Psalm 149:4)On The Good Path, we're encouraged to find answers and know the will ofGod. Our Father delights in giving us the desires of our heart. If we delight in Him andwe want to know His path and His will for us, He will reveal it to us.
      </p>
    </div>
    <div class="show_data" data-name="four" id="four_box">
      <p>
        <iframe width="420" height="315" src="http://www.youtube.com/embed/C0DPdy98e4c" frameborder="0" allowfullscreen class="youtube_video"></iframe>
        <span class="fancy_type">Walk</span> On The Good Path there is the freedoand the Ability to Respond for us, and for God. To walk is our ability to respond afterwaiting, watching, and wanting our Father's will for our path in thislife.Though God is as Father, He is different than our human father's because He knowsour capacity and our capabilities. When our human parents are training us they oftenbecome disappointed with us because we don't "Do" what they want us to "Do". ButGod doesn't interact with us by trying to get us to "Do" something, He just wants us torespond in our own way, and then learn from our own response, and direct ourselves.He can do this because He knows our capacity and our capabilities...This process of The Good Path was explained to us by Christ when He said in Luke11:5-10, "Knock (stand/expectancy), Seek (see/openly recognizable), Ask (Askcommunicate), Persist (walk/ability to respond)."So now, the question is, "Where can we find The Good Path?The answer is, "Where do you believe it is? What does the Word and the Spirit tellyou?" (The Good Path is found in ChristHow do we enter the Good Path? by faitHow do we stay on the Good Path? Christ keeps us on the Good PatWhy does He keep us? because as believers we are the children of God, and thereforewe're in a loving family relationship with Christ and our Father.
      </p>
    </div>
  </div>
</div>
<div class="home_page_lessons">
  {{template "lessons/index"}}
</div>
