<div class="row page_header">
  <div class="small-12 large-6 columns page_header_info_one">
    <p class="hh1">Go through the Bible</p>
    <br />
    <p class="hh2">with pastor</p>
    <p class="hh3">Nate Holdridge</p>
    {{#linkTo "lessons.index" class="home_lessons_link"}}Teachings{{/linkTo}}
  </div>
  <div class="small-12 large-6 columns page_header_info_two">
    <img src="/assets/nate.png" class="image" />
  </div>
</div>
<div class="home_page_lessons">
  {{template "lessons/index"}}
</div>
