<div id="lesson_mod">
  <div id="lesson_mod_menu" class="row">


    <div id="jquery_jplayer_1" class="jp-jplayer"></div>
    <div id="jp_container_1" class="jp-audio small-12 large-6 columns">
      <div class="jp-controls">
        <div class="lesson_mod_image">
          <a href="javascript:;" class="jp-play" tabindex="1">
            <div class="current_lessen_image">
              <img src="/assets/crying_out_to_god.jpg" class="mod_img">
              <div class="play_mark_small"></div>
            </div>
          </a>
          <a href="javascript:;" class="jp-pause" tabindex="1" style="display:none;">
            <img src="/assets/crying_out_to_god.jpg" class="mod_img">
            <div class="pause_mark_small"></div>
          </a>
        </div>
        <div class="lesson_mod_controls">
          <div class="lesson_mod_time">
            <div class="jp-current-time lesson_current_time"></div>
            <div class="jp-duration lesson_duration"></div>
          </div>
          <div class="jp-progress lesson_progress_bar">
            <div class="jp-seek-bar"><div class="jp-play-bar progress_bar"></div></div>
          </div>
          <div class="lesson_mod_volume">
            <div class="lesson_mod_volume_controls">
              <a href="javascript:;" class="icon-volume jp-mute" tabindex="1" title="mute">&nbsp;</a>
              <a href="javascript:;" class="icon-volume jp-unmute" tabindex="1" title="unmute" style="display:none;">&nbsp;</a>
            </div>
            <div class="volume-meter jp-volume-bar">
              <span class="volume-bar jp-volume-bar-value"></span>
            </div>
            <div class="lesson_mod_volume_max">
              <a href="javascript:;" class="icon-volume jp-volume-max" tabindex="1" title="max volume">&nbsp;</a>
            </div>
          </div>
        </div>
      </div>
    </div>





    <div class="lesson_mod_info small-8 large-4 columns">
      <div class="mod_share"></div>
    </div>




    <div class="social_container small-4 large-2 columns">
      <div class="social_icon social_facebook">&nbsp;</div>
      <div class="social_icon social_twitter">&nbsp;</div>
      <div class="social_icon social_google">&nbsp;</div>
    </div>




  </div>
</div>
