<h1>jim's <span class="hh1">Books</span></h1>
<div class="view_bar">
  <div class="vew_bar_right">
    {{#linkTo "books.new" class="button create_button" }}+ New Book{{/linkTo}}
  </div>
</div>
{{#each model}}
  {{partial "books/list"}}
{{/each}}


