<h1>jim's <span class="hh1">Books</span></h1>
<div class="view_bar">
  <div class="vew_bar_right">
    {{#linkTo "books.new" class="button create_button" }}+ New Book{{/linkTo}}
  </div>
</div>
{{#each model}}
  {{partial "books/list"}}
{{/each}}
<div class="row">
  <div class="small-12 large-6 columns">
    <p>
      I've been blessed with a few idea's and thoughts about living this gift of salvation we have through Christ. In the process of experiencing the practical nature of trying to live a spiritual life, I've written a few things down. If you enjoy the podcast then you might want to take a look at my books.
    </p>
  </div>
  <div class="small-12 large-6 columns background_one">
    <h1>Theistic Spirituality</h1>
    <ul>
      <ol>1. Faith in the Existence of God, our Father</ol>
      <ol>2. Inspired toward respect, honor, reverence, worship, and love for God</ol>
      <ol>3. Spiritually aware of one's purpose, identity, and relationship to the Creator</ol>
      <ol>4. Motivated by God's love alone in all things</ol>
      <ol>5. Encouraged by God to be congruent with familial acceptance and inclusion</ol>
      <ol>6. Steadfast hope as one sanctified by God through the act of propitiation of Christ</ol>
    </ul>
  </div>
</div>


