#lessons{
  margin:0 auto 40px auto;
}
.lessons_list {
  margin:0 0 20px 0;
  padding:3px;
  position:relative;
  a:hover > .lessons_summary {
    opacity:1;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  &:hover > .play_mark_medium {
    opacity:0.6;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  a{
    position:relative;
    display:block;
  }
  img {
    height:100%;
    width:100%;
  }

  h2 {
    color:#eee;
    font-size:90%;
    margin:3px 0 0 0;
  }
  h3{
    color:#eee;
    margin:1px 0 0 0;
  }

  .lessons_summary {
    background:rgba(0,0,0,0.8);
    bottom:45px;
    color:white;
    display:block;
    left:0px;
    min-height:62%;
    opacity:0;
    padding:10px;
    position:absolute;
    width:100%;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
}
