<h1>jim's <span class="hh1">Podcasts</span></h1>
<div class="row" id="lessons">
  {{#each model}}
    {{partial "lessons/list"}}
  {{/each}}

</div>
<div class="view_bar">
	<div class="vew_bar_right">
		{{! {{#linkTo "lessons.new" class="button create_button" }}    {{!  + New Lesson{{/linkTo}}
    <a href="lessons/new" class="button">+ New Podcast</a>
	</div>
</div>
<div class="row">
  <div class="small-12 large-6 columns">
    <h1>recent Podcasts</h1>
    <p>
      In our life we all come to crossroads. The Good Path podcast offers encouragement, choices, insight, and inspiration as we determine the best way to respond to our daily decisions, and then walk in them. The goal of <span class="hh2">The Good Path</span> is to encourage confidence in all who believe to recognize the promise of eternal security through Christ and fully realize our existence as the children of our Father.
    </p>
  </div>
  <div class="small-12 large-6 columns">
    <h1>archived Podcasts</h1>
    <p>
      <span class="hh2">The Good Path </span>archives are filled with all kinds of really good stuff. Our podcasts have been gathered up and distributed into their appropriate bins. We hope you find these offering enjoyable, enlightening, and spiritually enriching.
    </p>
    <h2>
      Let us know your thoughts and leave us your comments and opinions.
    </h2>
    <ul>
      <li>Holiness</li>
      <li>Walking with God</li>
      <li>Watch and Wait</li>
      <li>Growning in love</li>
    </ul>
  </div>
</div>
